{% extends "templates/web.html" %}
{% block page_content %}
<h1>Quiz</h1>
<div>
		{% for question in questions %}	
			{% set resultId = "result" + loop.index|string %}	
			{% set questionId = "question" + loop.index|string %}
			{% set inputId = "input" + loop.index|string %}	
			{% set correctAnswerId = "correctAnswer" + loop.index|string %}	
				<div id="{{ questionId }}">
					<br>
				<ul class="list-unstyled">
					<li> {{ loop.index }}. {{ question.question }} </li>
				 </ul>
				  <input type="text" class="form-control-sm" id="{{ inputId }}">
				  <br>
				  <button onclick="checkAnswer('{{ inputId }}', '{{ question.answer }}', '{{ resultId }}', '{{ correctAnswerId }}' )" class="btn btn-primary">Submit</button>
				  <button onclick="showAnswer('{{ question.answer }}', '{{ correctAnswerId }}' )" class="btn btn-primary">Show</button>
				  <button onclick="hideAnswer('{{ correctAnswerId }}' )" class="btn btn-primary">Hide</button>
				  <br>
				  <span id="{{ resultId }}"></span>
				  <span id="{{ correctAnswerId }}" style="visibility: hidden;">{{ question.answer }}</span>
				</div>
		{% endfor %}
		<br>
		<button onclick="checkScore('{{ questions|length }}','{{ user }}')" class="btn btn-primary">Submit All / Check Score</button>
		<button onclick="showAll('{{ questions|length }}')" class="btn btn-primary">Show All</button>
		<button onclick="hideAll('{{ questions|length }}')" class="btn btn-primary">Hide All</button>
		<span>&nbsp;&nbsp;</span>
		<span id="score"></span>
		{% if user == 'Guest'  %}
		<a href="/login" class="btn btn-primary">Login</a><span> to save your score.</span>
		{% endif %}
</div>
<h3>Stats</h3>
{% if user != 'Guest'  %}
<div>
	 <table class="table table-sm table-hover">
		<thead>
		  <tr>
			<th scope="col">Date</th>
			<th scope="col">Score</th>
		  </tr>
		</thead>
		<tbody id="scores-table-body">
			{% for question in scores %}
		  <tr>
			<td>{{ question.submit_date.strftime("%Y-%m-%d %H:%M") }}</td>
			<td>{{ question.correct_count }} / {{question.total_count}}</td>
		  </tr>
		  {% endfor %}
		</tbody>
	  </table>
</div>
{% endif %}
<script>
	function checkAnswer(inputId, correctAnswer, resultId, correctAnswerId) {
	  var userInput = document.getElementById(inputId).value;
	  var resultElement = document.getElementById(resultId);
	  
	  // first set the evaluation as Incorrect.
	  resultElement.textContent = "Incorrect";
	  resultElement.style.color = "red";
	  const correctAnswersArray = correctAnswer.split('|');
	  for (let i = 0; i < correctAnswersArray.length; i++) {
		if (userInput.trim().toLowerCase() === correctAnswersArray[i].trim().toLowerCase()) {
			resultElement.textContent = "Correct";
			resultElement.style.color = "green";
			showAnswer(correctAnswer, correctAnswerId);
			break;
		} 
	  }
	}
	function showAnswer(correctAnswer, correctAnswerId) {
	  var correctAnswerElement = document.getElementById(correctAnswerId);
	  correctAnswerElement.textContent = correctAnswer;
	  correctAnswerElement.style.color = "blue";
	  correctAnswerElement.style.fontStyle = "italic"
	  correctAnswerElement.style.visibility = 'visible';
	}
	function hideAnswer(correctAnswerId) {
	  var correctAnswerElement = document.getElementById(correctAnswerId);
	  correctAnswerElement.style.visibility = 'hidden';
	}
	function checkScore(total_question_count, user) {
	  var correctCount = 0;
	  for (var i = 1; i <= total_question_count; i++) {
			var inputId = "input" + i;
			var resultId = "result" + i;
			var correctAnswerId = "correctAnswer" + i;
			correctAnswer = document.getElementById(correctAnswerId).textContent;
			checkAnswer(inputId, correctAnswer, resultId, correctAnswerId)
            var spanContent = document.getElementById('result' + i).textContent;
            // Check if the span content is Correct or Incorrect and increment counters accordingly
            if (spanContent.trim() === "Correct") {
                correctCount++;
            }
        }
		// Display the score
		var scoreElement = document.getElementById('score');
		scoreElement.textContent = correctCount+"/"+total_question_count;
		if (user !== "Guest") {
			saveScore(user, correctCount, total_question_count)
			updateScoreOnUI(correctCount, total_question_count)

		}
	}
	function updateScoreOnUI(correct_answer_count, total_question_count){
		// Get table body
        const tbody = document.getElementById('scores-table-body');
        const row = tbody.insertRow(0);
        const cell1 = row.insertCell(0);
        const cell2 = row.insertCell(1);
		const date = new Date()
		const formattedDate = formatDate(date);
        cell1.innerHTML = formattedDate;
        cell2.innerHTML = `${correct_answer_count} / ${total_question_count}`;

	}
	function saveScore(user, correct_answer_count, total_question_count) {
		frappe.call({
            method: 'qmk.www.quiz.save_score',
			args: {
				user: user,
				correct_answer_count: correct_answer_count,
				total_question_count: total_question_count
			}
        });
	}

	function showAll(total_question_count) {
	  for (var i = 1; i <= total_question_count; i++) {
			var correctAnswerId = "correctAnswer" + i;
			correctAnswer = document.getElementById(correctAnswerId).textContent;
			showAnswer(correctAnswer, correctAnswerId)
	  }
	}

	function hideAll(total_question_count) {
	  for (var i = 1; i <= total_question_count; i++) {
			var correctAnswerId = "correctAnswer" + i;
			hideAnswer(correctAnswerId)
	  }
	}

	function formatDate(date) {
		const year = date.getFullYear();
		const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-indexed
		const day = String(date.getDate()).padStart(2, '0');
		const hours = String(date.getHours()).padStart(2, '0');
		const minutes = String(date.getMinutes()).padStart(2, '0');

		return `${year}-${month}-${day} ${hours}:${minutes}`;
	}

	</script>


{% endblock %}
	  
<!-- this is a sample default list template -->
